.header{
    background-color: #C2D1F0;
}
.logo{
   min-width: 255px;
    min-height: 75px;
}
.main-header{
    max-width: 980px;
    background-color: #C2D1F0;
}


.navbar-background{
    background-color: #C2D1F0;
    color: black;
    border: 0px;
}